body{
	background-color:#f2f2f2; 
	font-family: "Futura Bk BT", Helvetica, Arial;
}

.topo {
	position:absolute;
	left: 0px;
}


/* Adiciona uma cor ao fundo do menu de navegação*/
.menu{
		background-color: #0404B4; /*cor de fundo do menu*/
		position: absolute;
		top: 0;
		width: 840px; /*lagura de 100% */
	}

.menu a {
	float: left;
	color: #fff; /*cor da fonte do link*/
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;/*retira o sublinhado do link*/
	font-size: 23px;
	font-family: "Futura Bk BT", Helvetica, Arial;
}

/*Muda a cor do link ao passar o mouse nele */
.menu a:hover{
	background-color: #2E2EFE; 
}

.imagens{
	position: center; 
	margin-left:0px ;
	margin-top: 0px;
	width: 150px;
	padding:0px;
}
}
.text1{
	float: left;
	color: #2F4F4F; /*cor da fonte do link*/
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;/*retira o sublinhado do link*/
	font-size: 20px;
	font-family: "Futura Bk BT", Helvetica, Arial;
	position: center; 
	margin-left:940px ;
	margin-top: -450px;
	width: 500px;

}
.fundo{background-color:#0B0B61;
		width: 1509px;
		height: 60px;
		margin-left:0px ;
		margin-top: -760px;
		
}
.box{
	width:400px;
	height: 60px;
	-webkit-transition:all .2s;
	background-color:#0B0B61;
	margin-left:970;
	margin-top: -743px; 
	text-align: center;
	font-size: 21px;
	font-family: "Futura Bk BT", Helvetica, Arial;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	border-radius: 5px
	box-shadow: 0px 0px 2px rgba(0,0,0,.5),
		1px 1px 5px rgba(0,0,0,.3);
	cursor: pointer:#75EF5D;
}
.box:hover{
	background-color:#0404B4;
	color: #f2f2f2;

}

.doacao {
	
	
	
}
}